<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a ng-click="navHome()" class="brand">My blog</a>
    <ul class="nav pull-right">
      <li><a ng-click="navNewComment()">New Comment</a></li>
    </ul>
  </div>
</div>
<div class="container" style="margin-top: 40px">
  <h1 class="text-center">Create new Comment</h1>
  <form>
    <fieldset>
      <tr ng-repeat="post in posts">
      <label><strong>Choose post</strong></label>
    <select ng-model="PostCtrl" ng-options="">   
    </select>
      <label><strong>Name</strong></label>
      <input class="span12" ng-model="formData.newCommentName" placeholder="New Comment" type="text" maxlength="250">
      <button class="btn btn-primary" ng-click="createComment()">Create</button>
      <button class="btn btn-danger pull-right" ng-click="clearComment()">Clear Comment</button>
    </fieldset>
  </form>
</div>